li{
    text-align: center;
}

.navbar-nav{
    font-size: 2.25em;
    margin-left: 0px;
    width: 100%;
    justify-content: center;
    /* border: 1px blue solid; */
}

.nav-item{
    padding-left: 0px;
    padding-right: 40px;
    justify-content: center;
}

.active1{
    font-weight: bold;
    border: 1px white solid;
    text-decoration: underline;
    background-color: black;
}

.active{
    color:white;
}

.mt-15{
    margin-top: 150px;
}

.text-align-center{
    text-align: center;
}

.hero{
    background-image: "imgs/Hero_Image.jpg";
}

.gallery-img{
    width: 100%;
    justify-content: center;
    /* border: black 5px solid; */
    padding: 5px;
}

.test{
    justify-content: center;
    margin: auto;
}

.deco{
    text-decoration: underline;
}

.profile-img{
    width: 100%; 
}

.profile-text{
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.table {
    margin: auto;
    width: 50% !important; 
 }

 .size{
     width: 50px;
 }

 .contactForm{
     border: black solid 1px;
     background-color: cadetblue;
 }
 
 .form2{
     justify-content: center;
 }